# TMDB API Configuration
# Get your API Read Access Token or API Key from https://www.themoviedb.org/settings/api
NEXT_PUBLIC_TMDB_API_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

# TMDB API Read Access Token (v4 auth - recommended) or API Key (v3)
NEXT_PUBLIC_TMDB_API_KEY=
NEXT_PUBLIC_TMDB_ACCESS_TOKEN=
